---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  pictures: CollectionEntry<"events">["data"]["pictures"];
  sponsorLogo: CollectionEntry<"events">["data"]["sponsorLogo"];
}

const { pictures, sponsorLogo } = Astro.props;
const sponsorImages = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/sponsors/*.{jpeg,jpg,png}",
);
const sponsorImgPath = `/src/assets/sponsors/${sponsorLogo}`;

const sponsorImgModule = sponsorImages[sponsorImgPath];
let sponsorImage;

try {
  if (sponsorImgModule) {
    const importedImage = await sponsorImgModule();
    sponsorImage = importedImage.default;
  }
} catch (error) {
  console.error(`Error loading sponsor image ${sponsorLogo}:`, error);
}
---

<div class="flex h-[178px] flex-row gap-2 overflow-x-auto">
  {
    sponsorImage && (
      <Image
        class="col-span-3 aspect-square shrink-0 rounded-sm lg:col-span-6"
        src={sponsorImage}
        alt={`Logo de ${sponsorLogo}`}
        loading="lazy"
        width={178}
      />
    )
  }
  {
    pictures?.images?.map(({ src, alt }) => (
      <img
        class=""
        src={"/src/assets/events/" + pictures?.folder + "/" + src}
        alt={alt}
        loading="lazy"
      />
    ))
  }
</div>
