---
import type { CollectionEntry } from "astro:content";
import FutureEvent from "./FutureEventCard.astro";
import PastEvent from "./PastEventCard.astro";
import { getEntry } from "astro:content";

interface Props {
  id: CollectionEntry<"events">["slug"];
}

const { id } = Astro.props;
const entry = await getEntry("events", id);

if (!entry) {
  throw new Error(`Event with slug ${id} not found`);
}
const { title, date, platform, link, place } = entry.data;

const future = date >= new Date();
const Component = future ? FutureEvent : PastEvent;
---

<div
  class:list={[
    "flex-col rounded-sm bg-white shadow-md",
    {
      "lg:col-span-5": future,
    },
    {
      "lg:col-span-4": !future,
    },
  ]}
>
  <Component label={title} {link} {platform} {date} {place} />
</div>
