---
import { Image } from "astro:assets";

import logoSfeir from "../../assets/sponsors/sfeir.png";
import logoBeTomorrow from "../../assets/sponsors/betomorrow.png";
import logoDeezer from "../../assets/sponsors/deezer.png";
import logoWanteeed from "../../assets/sponsors/wanteeed.png";
import logoECV from "../../assets/sponsors/ecv.png";
import logoWagon from "../../assets/sponsors/wagon.png";

import Layout from "../../layouts/Layout.astro";
import Title from "../common/Title.astro";
---

<Layout class="flex flex-col gap-6">
  <Title label="Prendre part au WIT" center light={false} />
  <div class="flex flex-col lg:flex-row gap-6">
    <div class="flex flex-col gap-2 flex-grow-1 flex-shrink-0 basis-1/2">
      <h2 class="text-lg font-bold">
        <span class="text-darkPink">Entreprises,</span> accueillir l’événement
      </h2>
      <p>
        Si vous souhaitez accueillir un ou plusieurs événements dans vos locaux,
        contactez-nous sur <a
          class="text-linkPurple"
          href="mailto:hello@wit-bdx.com">hello@wit-bdx.com</a
        >. L’accueil de l’événement comprend l’apéritif pour les
        participant(e)s.
      </p>
      <p>
        Si vous souhaitez soutenir les événements autrement, n’hésitez pas à
        nous contacter pour proposer vos idées.
      </p>
      <p>
        Nous nous réservons le droit de refuser des sponsorings qui ne sont pas
        en accord avec nos valeurs.
      </p>
    </div>

    <div class="flex flex-col gap-2 flex-grow-1 flex-shrink-0 basis-1/2">
      <h2 class="text-lg font-bold">
        <span class="text-darkPink">Orateurices,</span> faire un talk
      </h2>
      <p>
        Si vous souhaitez faire un talk, contactez-nous sur <a
          class="text-linkPurple"
          href="mailto:hello@wit-bdx.com">hello@wit-bdx.com</a
        >.
      </p>
      <p>
        Il n’y a pas de durée minimum ou de maximum pour les talks. La prise de
        parole est ouverte aux débutant(e)s et confirmé(e)s. Les femmes et
        minorités de genre sont invitées à partager leurs expériences, qu’elles
        portent sur des sujets techniques ou non techniques. De plus, les hommes
        sont encouragés à aborder des thématiques liées à l’inclusion et à la
        diversité.
      </p>
      <p class="text-sm">
        Nous proposons du coaching pour préparer votre conférences pour celles
        et ceux qui le souhaitent.
      </p>
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <h2 class="text-lg font-bold">
      Merci aux entreprises bordelaises qui nous ont déjà accueillis
    </h2>
    <div class="flex flex-row flex-wrap gap-x-5 gap-y-2 lg:gap-x-6">
      <Image src={logoSfeir} alt="logo SFEIR" />
      <Image src={logoBeTomorrow} alt="logo BeTomorrow" />
      <Image src={logoDeezer} alt="logo Deezer" />
      <Image src={logoWanteeed} alt="logo Wanteeed" />
      <Image src={logoECV} alt="logo ECV" />
      <Image src={logoWagon} alt="logo Le Wagon" />
    </div>
  </div>
</Layout>
