---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import { getEntry } from "astro:content";

interface Props {
  id: CollectionEntry<"organizers">["slug"];
}

const { id } = Astro.props;
const entry = await getEntry("organizers", id);

if (!entry) {
  throw new Error(`Organizer with slug ${id} not found`);
}
const { firstName, lastName, pictureName, jobPosition } = entry.data;
const { Content } = await entry.render();
---

<div class="basis-1/6">
  <Image alt={`Photo de ${firstName}`} src={pictureName} class="mb-2" />
  <p class="text-lg font-bold leading-7">{firstName}</p>
  <p class="mb-1 text-lg font-bold uppercase">{lastName}</p>
  <p>{jobPosition}</p>
  <Content />
</div>
