---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Section from "./Section.astro";
import Recommandation from "./Recommandation.astro";

const recommendations = await getCollection("recommendations");

export const SUPPORTED_SLUGS = [
  "readings",
  "videos",
  "audios",
  "articles",
  "organizations",
  "follow",
];

export type Recommendation = {
  title: string;
  author: string;
  thumbnail: string;
  recommendedBy: {
    name: string;
    picture: string;
  };
  consultLink?: { link: string; platform: string; verb: string } | undefined;
};

const mappedRecommendations = recommendations.reduce(
  (acc, reco) => {
    if (!reco.slug || !SUPPORTED_SLUGS.includes(reco.slug)) {
      console.warn(`Unsupported recommendation slug: ${reco.slug}`);
      return acc;
    }

    // @ts-expect-error reco.slug isn't typed correctly
    acc[reco.slug].push(...(reco.data.items || []));

    return acc;
  },
  {
    readings: [],
    videos: [],
    audios: [],
    articles: [],
    organizations: [],
    follow: [],
  } as {
    readings: any[];
    videos: any[];
    audios: any[];
    articles: any[];
    organizations: any[];
    follow: any[];
  },
);
---

<Layout noPadding class="flex flex-col gap-11 bg-white py-9">
  {
    mappedRecommendations.readings.length > 0 && (
      <Section titleEmphasis="Lectures," title="livres, magazines...">
        {mappedRecommendations.readings.map((recommendation) => (
          <Recommandation recommendation={recommendation} />
        ))}
      </Section>
    )
  }

  {
    mappedRecommendations.videos.length > 0 && (
      <Section titleEmphasis="Vidéos," title="reportages, émissions...">
        {mappedRecommendations.videos.map((recommendation) => (
          <Recommandation
            recommendation={recommendation}
            with_small_thumbnail
          />
        ))}
      </Section>
    )
  }

  {
    mappedRecommendations.audios.length > 0 && (
      <Section titleEmphasis="Podcasts," title="contenus audio...">
        {mappedRecommendations.audios.map((recommendation) => (
          <Recommandation recommendation={recommendation} />
        ))}
      </Section>
    )
  }

  {
    mappedRecommendations.articles.length > 0 && (
      <Section titleEmphasis="Articles," title="...">
        {mappedRecommendations.articles.map((recommendation) => (
          <Recommandation
            recommendation={recommendation}
            with_small_thumbnail
            linkLabel="Lire l'article"
          />
        ))}
      </Section>
    )
  }

  {
    mappedRecommendations.follow.length > 0 && (
      <Section titleEmphasis="Comptes à suivre," title="pages, personnes...">
        {mappedRecommendations.follow.map((recommendation) => (
          <Recommandation recommendation={recommendation} />
        ))}
      </Section>
    )
  }

  {
    mappedRecommendations.organizations.length > 0 && (
      <Section titleEmphasis="Organismes," title="...">
        {mappedRecommendations.organizations.map((recommendation) => (
          <Recommandation recommendation={recommendation} />
        ))}
      </Section>
    )
  }
</Layout>
